.menu {
  width: 240px;
  border: 1px solid rgb(200, 200, 200);
  height: 100%;
  position: fixed;
  left: 0;
}

.menu__logo {
  margin: 30px 10px;
}

.menu__icons {
  padding: 5px;
  margin-right: 5px;
}

.menu__op {
  width: 80px;
  padding-left: 10px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.menu__lista {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.menu__opcoes {
  display: flex;
  align-items: center;
  margin-top: 550px;
  margin-left: 10px;
}